/*Reset styles*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  color: #3A3A3A; }

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  .header__wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
    min-height: 105px;
    position: relative; }
    @media (max-width: 992px) {
      .header__body {
        min-height: 80px; } }
    @media (max-width: 480px) {
      .header__body {
        min-height: 50px; } }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%; }
    @media (max-width: 992px) {
      .header__main {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto; } }
  .header__logo {
    position: relative;
    z-index: 5;
    font-weight: 700;
    font-size: calc(18px + 22 * ((100vw - 320px) / 1120));
    line-height: 120%;
    color: #000; }
  .header__search {
    margin-right: 30px; }
    @media (min-width: 992px) {
      .header__search {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto; } }

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 420px;
          flex: 0 1 420px; }
  @media (max-width: 767px) {
    .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -100%;
      background-color: #F9F1E7;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 110px 15px 30px 15px; } }
  .menu__body._active {
    left: 0; }
  @media (min-width: 768px) {
    .menu__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; } }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 3px;
    padding: 5px 0;
    position: relative; }
    @media (any-hover: hover) {
      .menu__item:hover .menu__sub-list {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        height: auto; } }
@media (any-hover: hover) and (min-width: 768px) {
  .menu__item:hover .menu__link {
    opacity: 0.7; }
  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); } }

    .menu__item._hover .menu__sub-list {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      height: auto; }
    .menu__item._hover .menu__arrow {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  .menu__link {
    color: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 767px) {
      .menu__link {
        font-weight: 600;
        font-size: 24px; } }
  .menu__arrow {
    background-color: transparent;
    margin: 0 0 0 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .menu__arrow img {
      width: 16px;
      height: 16px; }
      @media (max-width: 767px) {
        .menu__arrow img {
          width: 14px;
          height: 14px; } }
  .menu__sub-list {
    background-color: #abd4e9;
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    z-index: 5;
    min-width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    pointer-events: none; }
    @media (max-width: 767px) {
      .menu__sub-list {
        position: relative;
        height: 0;
        background-color: transparent; } }
  .menu__sub-item:not(:last-child) {
    margin-bottom: 20px; }
  .menu__sub-link {
    color: #3A3A3A;
    line-height: 120%; }
    .menu__sub-link:hover, .menu__sub-link:focus, .menu__sub-link:active {
      border-bottom: 1px dotted #000; }
    @media (max-width: 767px) {
      .menu__sub-link {
        font-size: 16px; } }

.search-form {
  max-width: 473px; }
  .search-form._active .search-form__item {
    opacity: 1;
    top: 100%;
    visibility: visible; }
  .search-form__icon {
    position: relative;
    z-index: 5;
    background-color: transparent; }
    @media (min-width: 993px) {
      .search-form__icon {
        display: none; } }
    .search-form__icon img {
      width: 15px;
      height: 15px; }
  .search-form__item {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .search-form__item {
        -webkit-box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
                box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
        position: absolute;
        width: 100%;
        top: -100%;
        left: 0;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; } }
  .search-form__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
    background-color: transparent; }
    .search-form__btn img {
      width: 20px;
      height: 20px; }
  .search-form__input {
    width: 100%;
    padding-right: 20px;
    font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
    color: #3A3A3A; }

.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .actions-header__item:not(:last-child) {
    margin-right: 30px; }
  @media (max-width: 768px) {
    .actions-header__item:not(:last-child) {
      margin-right: 15px; } }
  .actions-header__item_favorites {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .actions-header__item_favorites img {
      width: 26px;
      height: 26px; }
      @media (max-width: 768px) {
        .actions-header__item_favorites img {
          width: 18px;
          height: 18px; } }
    .actions-header__item_favorites:hover, .actions-header__item_favorites:focus, .actions-header__item_favorites:active {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .actions-header__item_user {
    overflow: hidden;
    border-radius: 50%; }
    .actions-header__item_user img {
      width: 40px;
      height: 40px; }
      @media (max-width: 768px) {
        .actions-header__item_user img {
          width: 30px;
          height: 30px; } }

.cart-header__icon {
  position: relative;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .cart-header__icon img {
    width: 35px;
    height: 35px; }
    @media (max-width: 768px) {
      .cart-header__icon img {
        width: 25px;
        height: 25px; } }
  .cart-header__icon:hover, .cart-header__icon:focus, .cart-header__icon:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .cart-header__icon span {
    position: absolute;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #abd4e9;
    color: #fff;
    font-size: calc(10px + 2 * ((100vw - 320px) / 1120)); }

.icon-menu {
  display: none; }
  @media (max-width: 767px) {
    .icon-menu {
      position: relative;
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30px;
              flex: 0 0 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      background-color: transparent;
      margin-left: 15px; }
      .icon-menu span {
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000; }
        .icon-menu span:first-child {
          top: 0; }
        .icon-menu span:last-child {
          top: auto;
          bottom: 0; }
      .icon-menu._active span {
        -webkit-transform: scale(0);
                transform: scale(0); }
        .icon-menu._active span:first-child {
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          top: calc(50% - 1px); }
        .icon-menu._active span:last-child {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          bottom: calc(50% - 1px); } }

.footer-title {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1120));
  color: #000;
  font-weight: 700; }

.footer__body {
  border-top: 1px solid #898989;
  display: grid;
  grid-template-columns: 250px 1fr 290px;
  padding: 80px 0 60px 0;
  -webkit-column-gap: 80px;
          column-gap: 80px; }
  @media (max-width: 767px) {
    .footer__body {
      padding: 50px 0 30px 0; } }
  @media (max-width: 1200px) {
    .footer__body {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 290px; } }
  @media (max-width: 992px) {
    .footer__body {
      display: block; } }
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 1200px) {
    .footer__main {
      grid-column: span 2;
      margin-bottom: 1.5em; } }
.footer__logo {
  margin-bottom: 1em; }
.footer__text {
  line-height: 150%;
  margin-bottom: 1em; }
@media (max-width: 992px) {
  .footer__menu {
    margin-bottom: 1.5em; } }

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .contacts-footer__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #898989;
    line-height: 150%;
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s; }
    .contacts-footer__item img {
      width: 20px;
      height: 20px;
      margin-right: 0.5em; }
      @media (max-width: 767px) {
        .contacts-footer__item img {
          width: 18px;
          height: 18px; } }
    .contacts-footer__item:not(:last-child) {
      margin-bottom: 0.5em; }
    .contacts-footer__item:hover, .contacts-footer__item:focus, .contacts-footer__item:active {
      color: #3A3A3A; }

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .menu-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }
  .menu-footer__title {
    margin-bottom: 1em; }
  .menu-footer__list li:not(:last-child) {
    margin-bottom: 0.5em; }
  .menu-footer__link {
    color: #3A3A3A;
    line-height: 150%; }
    .menu-footer__link:hover, .menu-footer__link:focus, .menu-footer__link:active {
      border-bottom: 1px dotted #000; }

.subscribe__title {
  margin-bottom: 1em; }
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #abd4e9; }
  .subscribe__button img {
    width: 22px;
    height: 22px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 767px) {
      .subscribe__button img {
        width: 18px;
        height: 18px; } }
    .subscribe__button img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
.subscribe__input {
  width: 100%;
  padding: 0 12px;
  background-color: #F4F5F7;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */